@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
*{
    margin:0;
    padding: 0;
}
html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #fff;
    background: #202122;
    font-family: 'Noto Sans KR',sans-serif;
    letter-spacing: -0.024em;
    display: flex;
    align-items: center;
    justify-content: center;
    }
a{
    text-decoration: none;
    color: rgb(186, 182, 182);
}

.body_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    height: 100%;
    width: 100%;
    gap: 8px;
}
h1{
    justify-content: center;
    margin: auto;
}

.main_btn{
    background: rgb(128, 0, 255);
    color: #fff;
    padding: 8px 16px;
    font-size: 13px;
    border: none;border-radius:  100px;
}